senro-designer/schema/ComponentTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.siveco.ro/senro/ComponentTemplate"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://www.siveco.ro/senro/ComponentTemplate" elementFormDefault="qualified"
        >

    <!-- Definition of the generic types used in this schema -->

    <xs:simpleType name="positiveInteger">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="strictPositiveInteger">
        <xs:restriction base="xs:integer">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="BasicComponentType">
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="UIComponentType">
        <xs:complexContent>
            <xs:extension base="BasicComponentType">
                <xs:attribute name="row" type="xs:string" default="0" use="optional"/>
                <xs:attribute name="col" type="xs:string" default="0"/>
                <xs:attribute name="rowSpan" type="strictPositiveInteger" default="1" />
                <xs:attribute name="colSpan" type="strictPositiveInteger" default="1" />
				<xs:attribute name="halign" type="xs:string"/>
				<xs:attribute name="valign" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Top element -->

    <xs:element name="ComponentTemplate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Layout" maxOccurs="1"/>
                <xs:element ref="Server" maxOccurs="1"/>
                <xs:element ref="Client" maxOccurs="1"/>
                <xs:element ref="Params" maxOccurs="1"/>
                <xs:element ref="Associations" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Layout">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Grid" type="GridType" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="Popup" type="PopupType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="GridType">
        <xs:complexContent>
            <xs:extension base="UIComponentType">
                <xs:sequence>
                    <xs:element name="Columns" maxOccurs="1" type="xs:string"/>
                    <xs:element name="Rows" maxOccurs="1" type="xs:string"/>
                    <xs:element name="Components">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:choice minOccurs="0" maxOccurs="unbounded">
                                    <xs:element ref="Label"/>
                                    <xs:element ref="TextField"/>
                                    <xs:element ref="TextArea"/>
                                    <xs:element ref="DateField"/>
                                    <xs:element ref="ComboBox"/>
                                    <xs:element ref="CheckBox"/>
                                    <xs:element ref="Button"/>
                                    <xs:element ref="Grid"/>
                                    <xs:element ref="Template"/>
                                    <xs:element ref="Iterator"/>
                                    <xs:element ref="Conditional"/>
                                    <xs:element ref="Tree"/>
                                    <xs:element ref="RootPanel"/>
                                    <xs:element ref="GridAllocatorRenderer"/>
                                    <xs:element ref="List"/>
                                    <xs:element ref="TabPanel"/>
                                    <xs:element ref="SwitchComponent"/>
                                    <xs:element ref="Table"/>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LabelType">
        <xs:complexContent>
            <xs:extension base="UIComponentType">
                <xs:sequence>
                    <xs:element name="Text" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TextFieldType">
        <xs:complexContent>
            <xs:extension base="UIComponentType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
	<xs:complexType name="DateFieldType">
        <xs:complexContent>
            <xs:extension base="UIComponentType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TextAreaType">
        <xs:complexContent>
            <xs:extension base="UIComponentType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ButtonType">
        <xs:complexContent>
            <xs:extension base="UIComponentType">
                <xs:sequence>
                    <xs:element name="Label" type="xs:string" maxOccurs="1" minOccurs="1"/>
                    <xs:element name="Icon" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="HoverIcon" type="xs:string" minOccurs="0" />
                    <xs:element name="Panel" type="ButtonPanelType" maxOccurs="1" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CheckBoxType">
        <xs:complexContent>
            <xs:extension base="UIComponentType">
                <xs:sequence>
                    <xs:element name="Label" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ComboBoxType">
        <xs:complexContent>
            <xs:extension base="UIComponentType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

	<xs:complexType name="TemplateType">
        <xs:complexContent>
            <xs:extension base="UIComponentType">
                <xs:sequence maxOccurs="unbounded">
                    <xs:element name="Param">
                        <xs:complexType>
                            <xs:attribute name="name" type="xs:string"/>
                            <xs:attribute name="value" type="xs:string"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="file" type="xs:string"/>
                <xs:attribute name="editingContext" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Server">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="GridAllocator" type="GridAllocatorType" maxOccurs="1"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="SenroContextType">
        <xs:complexContent>
            <xs:extension base="BasicComponentType">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="ContextElement" minOccurs="0" maxOccurs="unbounded" type="ContextElementType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="GridAllocatorType">
        <xs:complexContent>
            <xs:extension base="BasicComponentType">
                <xs:attribute name="entity" type="xs:string"/>
                <xs:attribute name="columns" type="xs:integer"/>
                <xs:attribute name="displayGroup" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Client">
        <xs:complexType>
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="DisplayGroup" type="DisplayGroupType" maxOccurs="1"/>
                    <xs:element name="EditingContext" type="EditingContextType" maxOccurs="1"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="DisplayGroupType">
        <xs:complexContent>
            <xs:extension base="BasicComponentType">
                <xs:attribute name="entity" type="xs:string"/>
                <xs:attribute name="fetchSpec" type="xs:string"/>
                <xs:attribute name="editingContext" type="xs:string"/>
                <xs:attribute name="master" type="xs:boolean"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EditingContextType">
        <xs:complexContent>
            <xs:extension base="BasicComponentType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Params">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Parameter" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="SenroContext" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Parameter">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="defaultValue" type="xs:string"/>
        </xs:complexType>

    </xs:element>

    <xs:element name="Associations">
        <xs:complexType>
            <xs:sequence minOccurs="0"  maxOccurs="unbounded">
                <xs:element ref="Assoc"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Label" type="LabelType"/>

    <xs:element name="TextField" type="TextFieldType"/>

    <xs:element name="TextArea" type="TextAreaType"/>

    <xs:element name="Button" type="ButtonType"/>

    <xs:element name="CheckBox" type="CheckBoxType"/>

    <xs:element name="ComboBox" type="ComboBoxType"/>

    <xs:element name="Grid" type="GridType"/>

    <xs:element name="Template" type="TemplateType"/>

    <xs:element name="DateField" type="DateFieldType"/>

    <xs:complexType name="IteratorType">

        <xs:complexContent>

            <xs:extension base="UIComponentType">

                <xs:sequence>

                    <xs:choice maxOccurs="unbounded">

                        <xs:element ref="Label"/>

                        <xs:element ref="TextField"/>

                        <xs:element ref="TextArea"/>

                        <xs:element ref="DateField"/>

                        <xs:element ref="ComboBox"/>

                        <xs:element ref="CheckBox"/>

                        <xs:element ref="Button"/>

                        <xs:element ref="Grid"/>

                        <xs:element ref="Template"/>

                        <xs:element ref="Iterator"/>

                        <xs:element ref="Conditional"/>

                        <xs:element ref="Tree"/>

                        <xs:element ref="TreeNode"/>

                        <xs:element ref="GridAllocatorRenderer"/>

                        <xs:element ref="List"/>

                        <xs:element ref="TabPanel"/>

                        <xs:element ref="TabPage"/>

                        <xs:element ref="SwitchComponent"/>

                        <xs:element ref="Table"/>

                        <xs:element ref="TableColumn"/>

                    </xs:choice>

                    <xs:element name="CurrentItem" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CurrentIndex" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>

                <xs:attribute name="list" type="xs:string" use="required"/>

                <xs:attribute name="filterCondition" type="xs:string"/>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:element name="Iterator" type="IteratorType"/>

    <xs:complexType name="ConditionalType">

        <xs:complexContent>

            <xs:extension base="UIComponentType">

                <xs:sequence>

                    <xs:element name="If" type="IfType" minOccurs="1"/>

                    <xs:element name="Else" type="ElseType" minOccurs="0"/>

                </xs:sequence>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:element name="Conditional" type="ConditionalType"/>

    <xs:complexType name="IfType">

        <xs:complexContent>

            <xs:extension base="ComponentChoiceType">

                <xs:attribute name="condition" type="xs:string" use="required"/>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:complexType name="ElseType">

        <xs:complexContent>

            <xs:extension base="ComponentChoiceType"/>

        </xs:complexContent>

    </xs:complexType>

    <xs:complexType name="TreeType">

        <xs:complexContent>

            <xs:extension base="UIComponentType">

                <xs:sequence maxOccurs="unbounded">

                    <xs:element ref="TreeNode" minOccurs="0"/>

                    <xs:element ref="Iterator" minOccurs="0"/>

                </xs:sequence>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:element name="Tree" type="TreeType"/>

    <xs:complexType name="TreeNodeType">

        <xs:sequence>

            <xs:element name="Text" type="xs:string"/>

            <xs:element name="Panel" type="ButtonPanelType" minOccurs="0"/>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="ComponentChoiceType">

        <xs:complexContent>

            <xs:extension base="UIComponentType">

                <xs:choice maxOccurs="unbounded">

            <xs:element ref="Label"/>

            <xs:element ref="TextField"/>

            <xs:element ref="TextArea"/>

            <xs:element ref="DateField"/>

            <xs:element ref="ComboBox"/>

            <xs:element ref="CheckBox"/>

            <xs:element ref="Button"/>

            <xs:element ref="Grid"/>

            <xs:element ref="Template"/>

            <xs:element ref="Iterator"/>

            <xs:element ref="Conditional"/>

            <xs:element ref="Tree"/>

            <xs:element ref="GridAllocatorRenderer"/>

            <xs:element ref="List"/>

            <xs:element ref="TabPanel"/>

            <xs:element ref="TabPage"/>

            <xs:element ref="SwitchComponent"/>

            <xs:element ref="Table"/>

        </xs:choice>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:complexType name="RootPanelType">

        <xs:complexContent>

            <xs:extension base="UIComponentType"/>

        </xs:complexContent>

    </xs:complexType>

    <xs:element name="RootPanel" type="RootPanelType"/>

    <xs:element name="TreeNode" type="TreeNodeType"/>

    <xs:complexType name="GridAllocatorRendererType">

        <xs:complexContent>

            <xs:extension base="UIComponentType">

                <xs:attribute name="gridAllocator" type="xs:string"/>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:element name="GridAllocatorRenderer" type="GridAllocatorRendererType"/>

    <xs:complexType name="ListType">

        <xs:complexContent>

            <xs:extension base="UIComponentType">

                <xs:attribute name="entity" type="xs:string"/>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:element name="List" type="ListType"/>
	<xs:element name="Table" type="TableType"/>

    <xs:complexType name="TabPanelType">

        <xs:complexContent>

            <xs:extension base="UIComponentType">

                <xs:sequence maxOccurs="unbounded">

                    <xs:element ref="TabPage" minOccurs="0"/>

                    <xs:element ref="Iterator" minOccurs="0"/>

                    <xs:element ref="Conditional" minOccurs="0"/>
                </xs:sequence>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:complexType name="TabPageType">

        <xs:complexContent>

            <xs:extension base="ComponentChoiceType">

                <xs:attribute name="orderNo"/>

                <xs:attribute name="title"/>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:element name="TabPage" type="TabPageType"/>

    <xs:element name="TabPanel" type="TabPanelType"/>

    <xs:complexType name="PopupType">

        <xs:complexContent>

            <xs:extension base="GridType">

                <xs:attribute name="showOnLoad" type="xs:boolean"/>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:complexType name="SwitchComponentType">

        <xs:complexContent>

            <xs:extension base="UIComponentType">

                <xs:attribute name="property" type="xs:string"/>

                <xs:attribute name="createLabel" type="xs:boolean" default="true"/>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:element name="SwitchComponent" type="SwitchComponentType"/>

    <xs:element name="Assoc">

        <xs:complexType>

            <xs:complexContent>

                <xs:extension base="BasicComponentType">

                    <xs:sequence minOccurs="1" maxOccurs="unbounded">

                <xs:element name="binding">

                    <xs:complexType>

                        <xs:sequence maxOccurs="unbounded" minOccurs="0">

                            <xs:element name="aspect">

                                <xs:complexType>

                                    <xs:attribute name="name" type="xs:string"/>

                                    <xs:attribute name="value" type="xs:string"/>

                                </xs:complexType>

                            </xs:element>

                        </xs:sequence>

                        <xs:attribute name="name" type="xs:string"/>

                        <xs:attribute name="value" type="xs:string"/>

                    </xs:complexType>

                </xs:element>

            </xs:sequence>

                    <xs:attribute name="type" type="xs:string"/>

                </xs:extension>

            </xs:complexContent>

        </xs:complexType>

    </xs:element>

    <xs:complexType name="TableType">

        <xs:complexContent>

            <xs:extension base="UIComponentType">

                <xs:sequence minOccurs="1" maxOccurs="unbounded">

                    <xs:element name="TableColumn" type="TableColumnType"/>

                    <xs:element ref="Iterator"/>

                </xs:sequence>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:complexType name="TableColumnType">

        <xs:complexContent>

            <xs:extension base="BasicComponentType">

                <xs:attribute name="expression" type="xs:string"/>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

    <xs:element name="SenroContext" type="SenroContextType"/>

    <xs:complexType name="ContextElementType">

        <xs:attribute name="key" type="xs:string"/>

        <xs:attribute name="value" type="xs:string"/>

    </xs:complexType>

    <xs:element name="TableColumn" type="TableColumnType"/>

    <xs:complexType name="ButtonPanelType">

        <xs:attribute name="id" type="xs:string" use="required"/>

        <xs:attribute name="stack" type="xs:string" use="required"/>

        <xs:attribute name="editingContext" type="xs:string" use="optional"/>

    </xs:complexType>
</xs:schema>
